.mtf-container{
    width:720px;
    height:405px;
}
.mtf-container .mtf-content-container{
    padding:0px 72px;
    width:576px;
    height:407px;
    background:silver;
    position: relative;
    background: url('./mtf-background.svg');
    background-size: 100% 100%;
}

.mtf-container .mtf-content-container .mtf-header{
    width:100%;
    height:24%;
    background:yellow;
    overflow:hidden;
    max-height:80%;
    top:0;
    left:0;
    position: absolute;
    z-index: 1;
    font-size:16px;
    color:#283644;
    line-height: 1.5;
}

.mtf-container .mtf-content-container .mtf-header .mtf-question-container{
    top:0%;
    max-height:300%;
    min-height:100%;
    padding:16px 72px;
    background:#FFFFFF;
    position: absolute;
    z-index: 2;
    overflow-y:scroll;
}

.mtf-container .mtf-content-container .mtf-header .mtf-question-container .mtf-question-text{
    position: relative;
}

.mtf-container .mtf-content-container .mtf-header .mtf-question-container .mtf-question-text{
    height:50px;
    overflow: hidden;
    display:-webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
}

.mtf-container .mtf-content-container .mtf-header .mtf-question-container .expand-button{
  /* Old removed
  position: absolute; 
  margin-top:10%; 
  z-index: 2;
  top:0%;
  right:2%;
*/  
  
  /* Added new */
  position: sticky;
  margin-left:88%; 
  cursor:pointer;
  background:skyblue;
  border-radius: 9px;
  width:64px;
  height: 20px;
  text-align: center;
  /* display:none; */
}


.mtf-container .mtf-content-container .mtf-header .mtf-question-container .expand-button img{
    height: 60%;
    margin-top:7%;
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    transition: transform 1s;
}

/* MTF LHS and RHS container styles */

.mtf-container .mtf-content-container .mtf-options-container-margin{
    height:24%;
    width:100%;
    opacity:0;
    display:hidden;
}

.mtf-container .mtf-content-container .mtf-options-container{
    height:67.3%;
    width:100%;
    padding:2.7% 0%;
    font-size:14px;
}

.mtf-container .mtf-content-container .mtf-options-container .lhs-rhs-horizontal {
    height:19%;
    width:100%;
    margin-bottom:0.7%;
}

.mtf-container .mtf-content-container .mtf-options-container .lhs-rhs-horizontal .lhs-rhs-container {
    width:50%;
    float:left;
    position: relative;
}

.mtf-container .mtf-content-container .mtf-options-container .lhs-rhs-horizontal .lhs-container{
    margin-right:-5px;
}

.mtf-container .mtf-content-container .mtf-options-container .lhs-rhs-horizontal .rhs-container{
    margin-left:-5px;
}

.mtf-container .mtf-content-container .mtf-options-container .lhs-rhs-horizontal .lhs-rhs-container img.background-image{
    width:100%;
}
.mtf-container .mtf-content-container .mtf-options-container .lhs-rhs-horizontal .lhs-rhs-container img.audio-image{
    position: absolute;
    height: 30%;
    top:35%;
}

.mtf-container .mtf-content-container .mtf-options-container .lhs-rhs-horizontal .lhs-container img.audio-image{
    left:3.5%;
}

.mtf-container .mtf-content-container .mtf-options-container .lhs-rhs-horizontal .rhs-container img.audio-image{
    right:3.5%;
}

.mtf-container .mtf-content-container .mtf-options-container .lhs-rhs-horizontal .lhs-rhs-container span.option-text{
    position: absolute;
    top:2%;width:83%;
    padding:1%;
}

.mtf-container .mtf-content-container .mtf-options-container .lhs-rhs-horizontal .lhs-container span.option-text{
    right:3.5%;
}

.mtf-container .mtf-content-container .mtf-options-container .lhs-rhs-horizontal .rhs-container span.option-text{
    left:5%;
}

.flip {
    transform: rotate(-180deg);
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}